@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

@import "common/reset";
@import "common/header";
@import "main/banner";
@import "main/slider";
@import "main/news";
@import "main/info";
@import "main/location";
@import "common/footer";

body{
    overflow-x: hidden;
}

// 모바일 width - 295 / height - 623

$maxHeight: 623px;

ul#scrollBtn{
    position: fixed;
    z-index: 10;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    li{
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: linear-gradient(45deg, #98a594, #333);
        margin-bottom: 20px;
        cursor: pointer;
        &.on{
            height: 70px;
            background: #000;
        }
    }
}
@media screen and (max-width: 290px) {
    ul#scrollBtn{
        display: none;
    }
}