#banner {
    width: 100%;
    // height: 100vh;
    height: 1000px;
    background-color: #F1F0E8;
    
    .inner {
        // width: 1180px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden; //
        
        .panel{
            position: absolute;
            width: 100%;
            height: 100%;

            li{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;

                opacity: 0;
                z-index: 1;
                transition: 1s;

                // 슬라이드 수정
                &.on{
                    opacity: 1;
                    z-index: 2;
                    
                }
            }
            #bwBanner{
                width: 100%;
                height: 100%;
                background-image: url(../img/Bernard_Werber1.png);
                background-position: left center;
                background-position-x: 20%;
                background-repeat: no-repeat;
                background-size: contain;
                p{
                    font: bold 50px/1.5 "IBM Plex Sans KR";
                    letter-spacing: 4px;
                    position: absolute;
                    top: 10%;
                    right: 19%;
                    text-align: right;
                    color: #000;
                    
                }
            }
            #cyBanner{
                width: 100%;
                height: 100%;
                background-image: url(../img/kcy1NoBg.png);
                background-position: left center;
                background-position-x: 20%;
                background-repeat: no-repeat;
                background-size: contain;
                p{
                    font: bold 50px/1.5 "IBM Plex Sans KR";
                    letter-spacing: 4px;
                    position: absolute;
                    top: 10%;
                    right: 19%;
                    text-align: right;
                    color: #000;
                    
                }
            }
            #jbBanner{
                width: 100%;
                height: 100%;
                background-image: url(../img/Julian_Barnes2NoBg.png);
                background-position: left center;
                background-position-x: 20%;
                background-repeat: no-repeat;
                background-size: contain;
                p{
                    font: bold 50px/1.5 "IBM Plex Sans KR";
                    letter-spacing: 4px;
                    position: absolute;
                    top: 10%;
                    right: 19%;
                    text-align: right;
                    color: #000;
                    
                }
            }
        }
    }
}