#banner {
    width: 100%;
    height: 1000px;
    background-color: #F1F0E8;
    .inner {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        
        .panel{
            position: absolute;
            width: 100%;
            height: 100%;

            li{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                z-index: 1;
                transition: 1s;
                &.on{
                    opacity: 1;
                    z-index: 2;
                    
                }
            }
            #bwBanner{
                width: 100%;
                height: 100%;
                background-image: url(../img/Bernard_Werber1.png);
                background-position: left center;
                background-position-x: 20%;
                background-repeat: no-repeat;
                background-size: contain;
                p{
                    font: bold 50px/1.5 "IBM Plex Sans KR";
                    letter-spacing: 4px;
                    position: absolute;
                    top: 10%;
                    right: 19%;
                    text-align: right;
                    color: #000;
                    
                }
            }
            #cyBanner{
                width: 100%;
                height: 100%;
                background-image: url(../img/kcy1NoBg.png);
                background-position: left center;
                background-position-x: 20%;
                background-repeat: no-repeat;
                background-size: contain;
                p{
                    font: bold 50px/1.5 "IBM Plex Sans KR";
                    letter-spacing: 4px;
                    position: absolute;
                    top: 10%;
                    right: 19%;
                    text-align: right;
                    color: #000;
                    
                }
            }
            #jbBanner{
                width: 100%;
                height: 100%;
                background-image: url(../img/Julian_Barnes2NoBg.png);
                background-position: left center;
                background-position-x: 20%;
                background-repeat: no-repeat;
                background-size: contain;
                p{
                    font: bold 50px/1.5 "IBM Plex Sans KR";
                    letter-spacing: 4px;
                    position: absolute;
                    top: 10%;
                    right: 19%;
                    text-align: right;
                    color: #000;
                    
                }
            }
        }
    }
}

#sub_banner{
    width: 100%;
    height: 100vh;
    position: relative;

    .inner{
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        perspective: 4000px; //3d

        .bar{
            width: 10vw;
            height: 80vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 10px;
            background-color: black;
            box-shadow: 10px 0px 2px rgba(0, 0, 0, 0.4);
            z-index: -3;
        }
        .page {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            background-color: #f5dec1;
            z-index: 0;
            transform-origin: left center;
            transition-duration: 1s;
            transition-timing-function: ease-in;

            .txt{
                opacity: 1;
                transition: 1s .6s;
                .info{
                    font: 12px/1 "arial";
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    color: #aaa;
                }
            }
            h2{
                opacity: 1;
                transition: 1s .6s;
            }
            span{
                opacity: 1;
                transition: 1s .6s;
            }
            p{
                opacity: 1;
                transition: 1s .6s;
            }
            .pic{
                opacity: 1;

                img{
                    opacity: 1;
                    transition: 1s .6s;

                }
            }
            .story{
                opacity: 1;
                transition: 1s .6s;
            }
            
            &.on{
                transform: rotateY(-180deg);
                .txt{
                    transition: .5s;
                    opacity: 0;   
                }
                h2{
                    transition: .5s;
                    opacity: 0;
                }
                span{
                    transition: .5s;
                    opacity: 0;
                }
                p{
                    transition: .5s;
                    opacity: 0;
                }
                .pic{
                    opacity: 0;
                    img{
                        opacity: 0;
                        transition: .5s;
                    }
                }
                .story{
                    transition: .5s;
                    opacity: 0;
                }
                article{
                    visibility: hidden;
                    transition: .5s;
                }
            }
        }
        // 개별
        #page1 {
            z-index: 1;
            box-shadow: 10px 0px 2px rgba(0, 0, 0, 0.4), -2px 0 2px rgba(0, 0, 0, 0.4);
            background-color: #5F7161;

            h2{
                font: bold 50px/1 "Diphylleia";
                color: #fff;
                margin-top: 60%;
                text-align: center;
            }
            span{
                display: block;
                padding: 0 20%;
                margin-top: 3%;
                text-align: center;
                color: #bbb;
                font: 24px/1.2 "Diphylleia";
            }

            .pic{
                position: absolute;
                top: 10%;
                left: 30%;
                opacity: 1;
                width: 300px;
                height: 300px;
                border-radius: 10px;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
        }
        #page2 {
            background-color: #f1f0e8;
            z-index: 0;
            box-shadow: 15px 0px 2px rgba(0, 0, 0, 0.4), -2px 0 2px rgba(0, 0, 0, 0.4);
            padding: 1vh 2vw;
            
            span{
                width: 100%;
                display: block;
                text-align: left;
                color: #777;
                font: 24px/1.2 "Diphylleia";
                margin-top: 2%;
            }
            .txt{
                position: absolute;
                width: 20vw;
                height: 40vh;
                background-color: #fff;
                box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.4);
                top: 10%;
                right: 5%;
                border-radius: 10px;
                padding: 2vh 1vw;

                h2{
                    font: bold 30px/1.2 "Diphylleia";
                    border-bottom: 1px dashed #000;
                    margin-bottom: 15%;
                    padding-bottom: 10px;
                }
                p{
                    font: 18px/1.2 "Diphylleia";
                    margin-bottom: 3%;
                }
            }
            
            .pic{
                position: absolute;
                top: 10%;
                opacity: 1;
                width: 15vw;
                height: 40vh;
                border-radius: 10px;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
            .story{
                position: absolute;
                width: 90%;
                // height: 30vh;
                background-color: rgba(0, 0, 0, 0.04);
                top: 65%;
                border-radius: 30px;

                p{
                    padding: 2%;
                    font: 18px/1.5 "Diphylleia";
                }
            }
        }
        #page3 {
            background-color: #f1f0e8;
            z-index: -1;
            box-shadow: 20px 0px 2px rgba(0, 0, 0, 0.4), -2px 0 2px rgba(0, 0, 0, 0.4);
            padding: 1vh 2vw;

            span{
                width: 100%;
                display: block;
                text-align: left;
                color: #777;
                font: 24px/1.2 "Diphylleia";
                margin-top: 2%;
            }
            .txt{
                position: absolute;
                width: 20vw;
                height: 40vh;
                background-color: #fff;
                box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.4);
                top: 10%;
                right: 5%;
                border-radius: 10px;
                padding: 2vh 1vw;

                h2{
                    font: bold 30px/1.2 "Diphylleia";
                    border-bottom: 1px dashed #000;
                    margin-bottom: 15%;
                    padding-bottom: 10px;
                }
                p{
                    font: 18px/1.2 "Diphylleia";
                    margin-bottom: 3%;
                }
            }
            
            .pic{
                position: absolute;
                top: 10%;
                opacity: 1;
                width: 15vw;
                height: 40vh;
                border-radius: 10px;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
            .story{
                position: absolute;
                width: 90%;
                // height: 30vh;
                background-color: rgba(0, 0, 0, 0.04);
                top: 65%;
                border-radius: 30px;

                p{
                    padding: 2%;
                    font: 18px/1.5 "Diphylleia";
                }
            }
        }
        #page4 {
            background-color: #5F7161;
            z-index: -2;
            box-shadow: 25px 0px 2px rgba(0, 0, 0, 0.4), -2px 0 2px rgba(0, 0, 0, 0.4);
            padding: 1vh 2vw;
            
            >h2{
                width: 100%;
                display: block;
                text-align: left;
                color: black;
                font: bold 24px/1.2 "Diphylleia";
                margin-top: 2%;
            }

            .inner{
                .vidList {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                
                    article {
                        width: 47%;
                        border: 1px solid black;
                        background-color: rgba(0, 0, 0, 0.04);
                        margin-bottom: 40px;
                        margin-right: 10px;

                        .pic {
                            display: block;
                            width: 100%;
                            height: 30%;
                            padding: 10px;
                            opacity: 1;
                            transition: 1s .6s;
                
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                
                        .con {
                            width: 100%;
                            height: 40%;
                            padding: 10px;
                
                            h2 {
                                font: bold 20px/1.2 "Diphylleia";
                                color: black;
                                margin-bottom: 15px;
                                width: 100%;
                            }
                        }
                    }
                    .pop {
                        width: 40vw;
                        height: 100%;
                        position: fixed;
                        z-index: inherit;
                        top: 0;
                        left: -12%;
                        background-color: rgba(0, 0, 0, 0.8);
                        overflow: hidden;
                        padding: 2vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                
                        .btnClose {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    
    ul.btn{
        display: flex;
        li{
            position: absolute;
            width: 80px;
            height: 80px;
            top: 40vh;
            background-color: #333;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                display: block;
                i{
                    font-size: 60px;
                    color: #fff;
                }
            }
        }
        .subPrev{
            left: 2vw;
        }
        .subNext{
            right: 2vw;
        }
    }
}

@media screen and (max-width: 1179px) {
    #banner {
        .inner {
            .panel{
                #bwBanner{
                    background-image: url(../img/Bernard_Werber1.png);
                    background-position-x: 5%;
                    background-position-y: 100%;
                    background-size: 50%;
                    p{
                        font: bold 45px/1.5 "IBM Plex Sans KR";
                    }
                }
                #cyBanner{
                    background-image: url(../img/kcy1NoBg.png);
                    background-position-x: 0%;
                    background-position-y: 100%;
                    background-size: 80%;
                    p{
                        font: bold 45px/1.5 "IBM Plex Sans KR";
                    }
                }
                #jbBanner{
                    background-image: url(../img/Julian_Barnes2NoBg.png);
                    background-position-x: 0%;
                    background-position-y: 100%;
                    background-size: 70%;
                    p{
                        font: bold 45px/1.5 "IBM Plex Sans KR";
                    }
                }
            }
        }
    }

    #sub_banner{
        .inner{
            #page1 {
                h2{
                    font: bold 45px/1 "Diphylleia";
                    margin-top: 90%;
                }
                span{
                    font: 20px/1.2 "Diphylleia";
                }
                .pic{
                    left: 17%;
                }
            }
            #page2 {
                span{
                    font: 18px/1.2 "Diphylleia";
                }
                .txt{
                    width: 35.5vw;
                    height: 40vh;
                    background-color: #fff;
                    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.4);
                    top: 10%;
                    right: 5%;
                    border-radius: 10px;
                    padding: 2vh 1vw;
                    h2{
                        font: bold 25px/1.2 "Diphylleia";
                    }
                    p{
                        font: 15px/1.2 "Diphylleia";
                    }
                }
                .pic{
                    display: none;
                }
                .story{
                    top: 63%;
                    
                    p{
                        padding: 2%;
                        font: 17px/1.5 "Diphylleia";
                    }
                }
            }
            #page3 {
                span{
                    font: 18px/1.2 "Diphylleia";
                }
                .txt{
                    width: 35.5vw;
                    height: 40vh;
                    background-color: #fff;
                    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.4);
                    top: 10%;
                    right: 5%;
                    border-radius: 10px;
                    padding: 2vh 1vw;
                    h2{
                        font: bold 25px/1.2 "Diphylleia";
                    }
                    p{
                        font: 15px/1.2 "Diphylleia";
                    }
                }
                .pic{
                    display: none;
                }
                .story{
                    top: 63%;
                    
                    p{
                        padding: 2%;
                        font: 17px/1.5 "Diphylleia";
                    }
                }
            }
            // 이 아래부터 수정
            #page4 {
                >h2{
                    font: bold 18px/1.2 "Diphylleia";
                }
    
                .inner{
                    .vidList {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        align-items: center;
                    
                        article {
                            width: 47%;
                            border: 1px solid black;
                            background-color: rgba(0, 0, 0, 0.04);
                            margin-bottom: 40px;
                            margin-right: 10px;
    
                            .pic {
                                display: block;
                                width: 100%;
                                height: 30%;
                                padding: 10px;
                                opacity: 1;
                                transition: 1s .6s;
                    
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                    
                            .con {
                                width: 100%;
                                height: 40%;
                                padding: 10px;
                    
                                h2 {
                                    font: bold 20px/1.2 "Diphylleia";
                                    color: black;
                                    margin-bottom: 15px;
                                    width: 100%;
                                }
                            }
                        }
                        .pop {
                            width: 40vw;
                            height: 100%;
                            position: fixed;
                            z-index: inherit;
                            top: 0;
                            left: -12%;
                            background-color: rgba(0, 0, 0, 0.8);
                            overflow: hidden;
                            padding: 2vw;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                    
                            .btnClose {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                color: #fff;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        
        ul.btn{
            display: flex;
            li{
                position: absolute;
                z-index: 10; //
                width: 80px;
                height: 80px;
                top: 40vh;
                background-color: #333;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                a{
                    display: block;
                    i{
                        font-size: 60px;
                        color: #fff;
                    }
                }
            }
            .subPrev{
                left: 2vw;
            }
            .subNext{
                right: 2vw;
            }
        }
    }
}
