main {
    width: 100%;
    height: 100vh;
    position: relative;

    #wrap {
        width: 100%;
        height: 100%;

        .inner {
            width: 100%;
            height: 40%;
            background-image: url(../img/tree.jpg);
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            h2 {
                position: absolute;
                width: 80vw;
                top: 10%;
                padding: 10px;
                border-radius: 20px;
                text-align: center;
                font: 40px/1 "Playfair Display";
                color: #eee;
                background-color: rgba(0, 0, 0, 0.6);
            }

            >svg {
                width:5%;

                >path {
                    fill: transparent;
                    stroke: #fff;
                    stroke-width: 5px;
                    stroke-dasharray: 1850;
                    stroke-dashoffset: 1850;
                    transition: stroke-dashoffset 1s 0s, fill 1s 1s;
                }
            }
        }
        &:hover svg path {
            stroke-dashoffset: 0;
            fill: #fff;
        }

        #info_news {
            width: 100%;
            height: 60%;
            background-color: #eee;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            >h1{
                position: absolute;
                top: 48%;
                font: bold 40px/1 "Diphylleia";
                color: #222;
                letter-spacing: 3px;
            }

            .box {
                width: 20%;
                height: 200px;
                background-color: #222;
                z-index: 1;
                position: relative;

                h2 {
                    position: absolute;
                    width: 50%;
                    height: 40px;
                    top: 0%;
                    opacity: 1;
                    font: 24px/1 "Diphylleia";
                    color: #fff;
                    letter-spacing: 1px;
                    background-color: rgba(0, 0, 0, 0.6);
                    transition: .5s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .pic {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        transform: scale(1);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: .5s;
                    }
                }
                &:hover {
                    h2 {
                        top: -40px;
                        opacity: 1;
                    }
                    .pic{
                        img {
                            transform: scale(1.3);
    
                        }
                    }
                }
            }
        }
    }
}

#info_banner{
    width: 100%;
    padding: 100px 0;
    background-image: url(../img/library.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .inner{
        width: 1180px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.6);
        padding:3%;
        h2{
            font: 35px/1.2 "Playfair Display";
            color: #fff;
            text-align: center;
            letter-spacing: 1px;
            padding-bottom: 20px;
        }
        p{
            font: 20px/1.2 "Playfair Display";
            color: #fff;
            text-align: center;
        }
    }
}

@media screen and (max-width: 293px) {
    main {
        #wrap {
                overflow: hidden;

            .inner {
                height: 20%;
                h2 {
                    position: absolute;
                    top: 5%;
                    font-size: 20px;
                }
                >svg {
                    width: 10%;
                }
            }
            #info_news {
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                >h1{
                    position: relative;
                    z-index: 10;
                    top: 0%;
                    font-size: 20px;
                    padding: 10px 0 10px 0;
                }
                .box {
                    width: 100%;
                    height: 150px;
                    h2 {
                        top: 40%;
                        left: -50%;
                        z-index: 3;
                        font-size: 14px;
                    }
                    &:hover {
                        h2 {
                            top: 40%;
                            left: 0%;
                        }
                    }
                }
            }
        }
    }
    #info_banner{
        display: none;
    }
}