footer{
    width: 100%;
    .inner{
        width: 100%;
        background-color: #566270;
        padding: 100px;
        address{
            text-align: right;
            color: #E0E3DA;
        }
        p{
            padding-bottom: 20px;
            color: #E0E3DA;
        }
    }
}