header {
    width: 100%;

    .inner {
        // width: 1180px;
        width: 100%;
        height: 100px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #606C5D;

        h1 {
            a {
                font: bold 40px/1 "Playfair Display";
                color: #222;

            }
        }

        nav {
            #gnb {
                display: flex;

                >li {
                    width: 150px;
                    position: relative;
                    &:hover {
                        a{
                            color: #222;
                        }
                    }
                    >a {
                        display: block;
                        padding: 10px 20px;
                        font: bold 20px/1 "IBM Plex Sans KR";
                        color: #EEE0C9;
                        text-align: center;
                        margin-right: 10px;
                    }
                    
                    .sub{
                        position: absolute;
                        left: 0;
                        display: none;
                        overflow: hidden;
                        transition: height 0.5s ease;
                        z-index: 10;
                        li{
                            a{
                                display: block;
                                width: 150px;
                                height: 50px;
                                font: 16px/50px "arial";
                                text-align: center;
                                color:#fff;
                                background-color: #434c41;
                                &:hover{
                                    color: #888;
                                }
                            }
                        }
                    }
                }
            }
        }
        >a{
            position: fixed;
            z-index: 10;
            width: 50px;
            height: 50px;
            background-color: #333;
            border-radius: 50%;
            right: 2vw;
            bottom: 2vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
            i{
                position: absolute;
                color: #fff;
                font-size: 20px;
            }
        }
    }
}