#header {
	width: 100%;
	position: relative;
	background-color: #f1f0e8;
	border-bottom: 1px solid black;
	margin-top: -1px;
	.inner {
		width: 1180px;
		margin: 0 auto;
		height: 100px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		> h1 {
			a {
				font: bold 40px/1 'Playfair Display';
				color: #222;
			}
		}

		.menu {
			#gnb {
				display: flex;
				gap: 30px;
				li {
					width: 100%;
					height: 100%;
					a {
						display: block;
						width: 100%;
						height: 100%;
						color: #333;
						font: bold 20px/50px 'IBM Plex Sans KR';
						transition: 0.2s;
						position: relative;
						&::after {
							content: '';
							display: block;
							position: absolute;
							left: 50%;
							top: 50%;
							width: 0;
							height: 1px;
							background-color: #333;
						}
						&::before {
							content: '';
							display: block;
							position: absolute;
							content: '';
							display: block;
							position: absolute;
							left: 50%;
							bottom: 50%;
							width: 0;
							height: 1px;
							background-color: #333;
						}
						&:hover {
							color: #606c5d;
							&::after {
								width: 100%;
								left: 0;
								top: 5px;
								transition: top 0.3s;
							}
							&::before {
								width: 100%;
								left: 0;
								bottom: 5px;
								transition: bottom 0.3s;
							}
						}
					}
				}
			}
		}
		.menuOn {
			width: 200px;
			height: 100vh;
			background: #e1e1e1;
			position: fixed;
			top: 0;
			left: -200px;
			padding: 30px 10px;
			z-index: 10;
			transition: 0.5s;
			&.on {
				left: 0;
			}
			> h1 {
				padding-bottom: 10px;
				border-bottom: 1px solid #666;
				a {
					display: block;
					font: bold 25px/1 'Playfair Display';
					color: #606c5d;
					text-align: center;
				}
			}
			#gnbOn {
				li {
					> a {
						display: block;
						width: 100%;
						padding: 20px 0;
						font: bold 14px/1 'IBM Plex Sans KR';
						color: #606c5d;
						text-align: center;
					}
					&:last-child {
						position: absolute;
						bottom: 25vh;
						width: 90%;
						height: 40px;
						padding: 0;
						> a {
							padding: 0;
							line-height: 40px;
							border: 1px solid black;
						}
					}
				}
			}
		}
		> a {
			position: fixed;
			z-index: 10;
			width: 50px;
			height: 50px;
			background-color: #333;
			border-radius: 50%;
			right: 2vw;
			bottom: 2vh;
			display: flex;
			justify-content: center;
			align-items: center;

			i {
				position: absolute;
				color: #fff;
				font-size: 20px;
			}
		}
		.ham_btn {
			width: 30px;
			height: 30px;
			position: absolute;
			top: 35px;
			right: 0;
			display: none;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			> i {
				font-size: 30px;
			}
		}
		.x_btn {
			width: 30px;
			height: 30px;
			position: absolute;
			top: 35px;
			right: 0;
			display: none;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			> i {
				font-size: 30px;
			}
		}
	}
}

@media screen and (max-width: 290px) {
	#header {
		width: 100%;
		.inner {
			width: 100%;
			> h1 {
				transform: translateX(10px);
				a {
					font-size: 20px;
				}
			}
			> a {
				display: none;
			}
			.menu {
				#gnb {
					display: none;
				}
			}
			> a {
				position: none;
			}
			.ham_btn {
				right: 10px;
				display: flex;
				&.del {
					display: none;
				}
			}
			.x_btn {
				right: 10px;
				display: none;
				&.on {
					display: flex;
				}
			}
		}
	}
}
