#header {
    width: 100vw;
    position: relative; //

    .inner {
        width: 100%;
        height: 100px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #606C5D;

        h1 {
            a {
                font: bold 40px/1 "Playfair Display";
                color: #222;

            }
        }

        nav {
            #gnb {
                display: flex;

                >li {
                    width: 150px;
                    position: relative;
                    &:hover {
                        >a{
                            color: #222;
                            &::after{
                                content: '';
                                display: block;
                                position: absolute;
                                top: 50%;
                                width: 100%;
                                height: 1px;
                                background-color: #fff;
                            }
                        }
                    }
                    >a {
                        display: block;
                        width: 100%;
                        height: 100px;
                        font: bold 20px/100px "IBM Plex Sans KR";
                        color: #EEE0C9;
                        text-align: center;
                        &::after{
                            content: '';
                            display: block;
                            width: 0;
                            height: 1px;
                            background-color: #fff;
                            transition: .5s;
                        }
                    }
                    .back{
                        width: 110vw;
                        position: absolute;
                        left: -68vw;
                        top: 100px;
                        z-index: 10;
                        display: none;
                        background-color: #434c41;
                        transition: 0.5s ease;
                    }
                    .sub{
                        position: absolute;
                        left: 0;
                        display: none; //
                        overflow: hidden;
                        transition: height 0.5s ease;
                        z-index: 10;
                        li{
                            a{
                                display: block;
                                width: 150px;
                                height: 50px;
                                font: 15px/50px "IBM Plex Sans KR";
                                letter-spacing: 1px;
                                text-align: center;
                                color:#fff;
                                background-color: #434c41;
                                &:hover{
                                    color: #888;
                                }
                            }
                        }
                    }
                }
                >a{
                    display: block;
                    width: 150px;
                    height: 100px;
                    font: bold 20px/100px "IBM Plex Sans KR";
                    color: #EEE0C9;
                    text-align: center;
                    position: relative;

                    &::after{
                        content: '';
                        display: block;
                        width: 0;
                        height: 1px;
                        background-color: #fff;
                        transition: .5s;
                    }
                    &:hover {
                        color: #222;
                        &::after{
                            content: '';
                            display: block;
                            position: absolute;
                            top: 50%;
                            width: 100%;
                            height: 1px;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
        >a{
            position: fixed;
            z-index: 10;
            width: 50px;
            height: 50px;
            background-color: #333;
            border-radius: 50%;
            right: 2vw;
            bottom: 2vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
            i{
                position: absolute;
                color: #fff;
                font-size: 20px;
            }
        }
        .bars{
            position: absolute;
            right: 10vw;
            bottom: 3vh;
            i{
                font-size: 30px;
                cursor: pointer;
            }
            &.hide{
                display: none;
            }
        }
    }
}

sub_header {
    width: 100%;
    position: relative;
    z-index: 5;

    .inner {
        width: 100%;
        height: 100px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #606C5D;

        h1 {
            a {
                font: bold 40px/1 "Playfair Display";
                color: #222;

            }
        }

        nav {
            #gnb {
                display: flex;

                >li {
                    width: 150px;
                    position: relative;
                    &:hover {
                        >a{
                            color: #222;
                            &::after{
                                content: '';
                                display: block;
                                width: 100%;
                                height: 1px;
                                background-color: #fff;
                            }
                        }
                    }
                    >a {
                        display: block;
                        padding: 10px 20px;
                        font: bold 20px/1 "IBM Plex Sans KR";
                        color: #EEE0C9;
                        text-align: center;
                        margin-right: 10px;

                        &::after{
                            content: '';
                            display: block;
                            width: 0;
                            height: 1px;
                            background-color: #fff;
                            transition: 1s;
                        }
                    }
                    
                    .sub{
                        position: absolute;
                        left: 0;
                        display: none;
                        overflow: hidden;
                        transition: height 0.5s ease;
                        z-index: 10;
                        li{
                            a{
                                display: block;
                                width: 150px;
                                height: 50px;
                                font: 15px/50px "IBM Plex Sans KR";
                                letter-spacing: 1px;
                                text-align: center;
                                color:#fff;
                                background-color: #434c41;
                                &:hover{
                                    color: #888;
                                }
                            }
                        }
                    }
                }
                >a{
                    display: block;
                    width: 150px;
                    padding: 10px 20px;
                    font: bold 20px/1 "IBM Plex Sans KR";
                    color: #EEE0C9;
                    text-align: center;
                    margin-right: 10px;

                    &::after{
                        content: '';
                        display: block;
                        width: 0;
                        height: 1px;
                        background-color: #fff;
                        transition: 1s;
                    }
                    &:hover {
                        color: #222;
                        &::after{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 1px;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
        >a{
            position: fixed;
            z-index: 10;
            width: 50px;
            height: 50px;
            background-color: #333;
            border-radius: 50%;
            right: 2vw;
            bottom: 2vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
            i{
                position: absolute;
                color: #fff;
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 1179px) {
    #header {
        .inner {
            >a{
                width: 40px;
                height: 40px;
                i{
                    font-size: 18px;
                }
            }
        }
    }
    
    sub_header {
        .inner {
            >a{
                width: 40px;
                height: 40px;
                i{
                    font-size: 18px;
                }
            }
        }
    }
}
@media screen and (max-width: 295px) {
    #header {
        .inner {
            flex-wrap: wrap;
            h1 {
                a {
                    font: bold 25px/1 "Playfair Display";
                }
            }
    
            nav {
                #gnb {
                    >li {
                        >a {
                            font: bold 15px/1 "IBM Plex Sans KR";
                        }
                        .sub{
                            li{
                                a{
                                    width: 100vw;
                                    font: 12px/50px "IBM Plex Sans KR";
                                }
                            }
                        }
                    }
                    >a{
                        font: bold 15px/1 "IBM Plex Sans KR";
                    }
                }
            }
            >a{
                display: none;
            }
        }
    }
    
    sub_header {
        .inner {
            flex-wrap: wrap;
            h1 {
                a {
                    font-size: 25px;
                }
            }
    
            nav {
                #gnb {
                    >li {
                        >a {
                            font-size: 15px;
                        }
                        .sub{
                            li{
                                a{
                                    width: 100vw;
                                    font: 12px/50px "IBM Plex Sans KR";
                                }
                            }
                        }
                    }
                    >a{
                        font-size: 15px;
                    }
                }
            }
            >a{
                display: none;
            }
        }
    }
}